body, html{font-family:'Lato', sans-serif;text-rendering:optimizeLegibility !important;-webkit-font-smoothing:antialiased !important;color:#000;}
h1 strong{font-weight:900;}
h2{line-height:20px;font-size:32px;font-weight:700;margin:0;color:#000;}
h3{font-size:16px;font-weight:700;}
h4{font-size:20px;font-weight:600;color:#000;}
h5{text-transform:uppercase;font-weight:700;line-height:20px;}
p{font-family:'Open Sans', sans-serif;}
a{color:#0dad8d;}
a:hover, a:focus{text-decoration:none;color:#222;}
hr{height:3px;width:60px;text-align:center;position:relative;background:#0dad8d;border:0;margin:10px auto 30px;}

.intro{padding-top:100px;padding-bottom:100px;}
.intro-text H1{font-size:50px;text-transform:uppercase;color:black;}

#abilities-section{padding-top:100px;padding-bottom:100px;}
#abilities-section i.fa{font-size:40px;margin-bottom:20px;transition:all 0.5s;color:#0dbf9b;}

#works-section{padding-top:100px;padding-bottom:100px;}
.portfolio-item{width:fit-content;}
.hover-bg .hover-text{position:absolute;text-align:center;margin:0 auto;color:#ffffff;background:rgba(0, 0, 0, 0.66);padding:17% 0 0 0;height:175px;width:263px;opacity:0;transition:all 0.5s;}
.hover-bg .hover-text>h4{opacity:0;-webkit-transform:translateY(100%);transform:translateY(100%);transition:all 0.3s;color:#ffffff;}
.hover-bg:hover .hover-text>h4{opacity:1;-webkit-backface-visibility:hidden;-webkit-transform:translateY(0);transform:translateY(0);}
.hover-bg .hover-text>i{opacity:0;-webkit-transform:translateY(0);transform:translateY(0);transition:all 0.3s;}
.hover-bg:hover .hover-text>i{opacity:1;-webkit-backface-visibility:hidden;-webkit-transform:translateY(100%);transform:translateY(100%);}
.hover-bg:hover .hover-text{opacity:1;}

#about-section{padding-top:100px;padding-bottom:100px;}

#contact-section{padding-top:100px;padding-bottom:100px;}


/* projectpage */
.project-intro {
    margin-top: 150px;
}
.project-first {
    margin-top: 150px;
}
.project-second {
    margin-top: 150px;
}
.project-third {
    margin-top: 150px;
}